In [13]:
import pandas as pd
import numpy as np

In [14]:

# define path and read file
path = 'climate_change_download_0.xlsx'
excel = pd.ExcelFile(path)

# Load each sheet to examine their contents and structure
data_df = excel.parse('Data')
country_df = excel.parse('Country')
series_df = excel.parse('Series')

In [15]:
# Display the first few rows of each sheet for analysis
data_df.head(), country_df.head(), series_df.head()

(  Country code Country name     Series code  \
 0          ABW        Aruba  AG.LND.EL5M.ZS
 1          ADO      Andorra  AG.LND.EL5M.ZS
 2          AFG  Afghanistan  AG.LND.EL5M.ZS
 3          AGO       Angola  AG.LND.EL5M.ZS
 4          ALB      Albania  AG.LND.EL5M.ZS

                            Series name SCALE Decimals      1990 1991 1992  \
 0  Land area below 5m (% of land area)     0        1  29.57481   ..   ..
 1  Land area below 5m (% of land area)     0        1         0   ..   ..
 2  Land area below 5m (% of land area)     0        1         0   ..   ..
 3  Land area below 5m (% of land area)     0        1  0.208235   ..   ..
 4  Land area below 5m (% of land area)     0        1  4.967875   ..   ..

   1993  ... 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
 0   ..  ...   ..   ..   ..   ..   ..   ..   ..   ..   ..   ..
 1   ..  ...   ..   ..   ..   ..   ..   ..   ..   ..   ..   ..
 2   ..  ...   ..   ..   ..   ..   ..   ..   ..   ..   ..   ..
 3   ..  ...   ..   ..   ..   ..   ..   ..   ..   ..   ..   ..
 4   ..  ...   ..   ..   ..   ..   ..   ..   ..   ..   ..   ..

 [5 rows x 28 columns],
   Country code               Country name Capital city      Region  \
 0          EAP        East Asia & Pacific           ..  Aggregates
 1          ECA      Europe & Central Asia           ..  Aggregates
 2          EMU                  Euro area           ..  Aggregates
 3          HIC                High income           ..  Aggregates
 4          LAC  Latin America & Caribbean           ..  Aggregates

   Income group Lending category
 0   Aggregates       Aggregates
 1   Aggregates       Aggregates
 2   Aggregates       Aggregates
 3   Aggregates       Aggregates
 4   Aggregates       Aggregates  ,
       Series code                                        Series name Scale  \
 0     SP.POP.TOTL                                         Population     0
 1     SP.POP.GROW                       Population growth (annual %)     0
 2  NY.GDP.MKTP.CD                                            GDP ($)     0
 3  NY.GNP.PCAP.CD                           GNI per capita (Atlas $)     0
 4   EN.CLC.MMDT.C  Average daily min/max temperature (1961-1990, ...  Text

   Decimals  Order                Topic  \
 0        0      1  Size of the economy
 1        1      2  Size of the economy
 2        0      3  Size of the economy
 3        0      4  Size of the economy
 4     Text      5              Climate

                                           Definition  \
 0  Population includes all residents who are pres...
 1  Annual population growth rate for year t is th...
 2  GDP is gross domestic product and measures the...
 3  GNI per capita is the gross national income, c...
 4  Average daily min/max temperature are the mini...

                                               Source
 0  (1) United Nations Population Division. 2011. ...
 1  Derived from total population. Population sour...
 2  World Bank national accounts data, and OECD Na...
 3  World Bank national accounts data, and OECD Na...
 4  Mitchell, T.D., Carter, T.R., Jones, P.D., Hul...  )

In [16]:
# replace '..' with pd.NA
data_df.replace("..", pd.NA, inplace=True)

In [17]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13512 entries, 0 to 13511
Data columns (total 28 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country code  13512 non-null  object
 1   Country name  13512 non-null  object
 2   Series code   13512 non-null  object
 3   Series name   13512 non-null  object
 4   SCALE         13512 non-null  object
 5   Decimals      13512 non-null  object
 6   1990          4854 non-null   object
 7   1991          3497 non-null   object
 8   1992          3653 non-null   object
 9   1993          3717 non-null   object
 10  1994          3779 non-null   object
 11  1995          4672 non-null   object
 12  1996          3804 non-null   object
 13  1997          3767 non-null   object
 14  1998          3818 non-null   object
 15  1999          4005 non-null   object
 16  2000          5496 non-null   object
 17  2001          4018 non-null   object
 18  2002          4057 non-null   object
 19  2003          4043 non-null   object
 20  2004          4225 non-null   object
 21  2005          5084 non-null   object
 22  2006          4236 non-null   object
 23  2007          4248 non-null   object
 24  2008          4603 non-null   object
 25  2009          3761 non-null   object
 26  2010          2332 non-null   object
 27  2011          2138 non-null   object
dtypes: object(28)
memory usage: 2.9+ MB

In [18]:

# check the data availability for each series and each year

years = data_df.columns[6:]

data_availability = pd.DataFrame(index=data_df["Series name"].unique(), columns=years)

# Calculate the availability percentages per series and year
for year in years:

    # Calculate the non-null percentage for each series in the given year

    year_availability = data_df.groupby("Series name")[year].apply(lambda x: x.notna().mean() * 100)

    # Assign the calculated availability to the corresponding column in the new DataFrame

    data_availability[year] = year_availability

overall_availability = data_availability.mean(axis=1).to_frame(name='Overall Data Availability (%)')
overall_availability.rename_axis(['Series name'], inplace=True)
overall_availability.sort_values(by='Series name', ascending=True)

                                                    Overall Data Availability (%)
Series name
Access to electricity (% of total population)                            1.931330
Access to improved sanitation (% of total pop.)                         18.884120
Access to improved water source (% of total pop.)                       19.274288
Agricultural land under irrigation (% of total ...                       8.622708
Annex-I emissions reduction target                                       0.819352
Annual freshwater withdrawals (% of internal re...                       5.481857
Average annual precipitation (1961-1990, mm)                             3.901678
Average daily min/max temperature (1961-1990, C...                       3.921186
CO2 emissions per capita (metric tons)                                  77.643387
CO2 emissions per units of GDP (kg/$1,000 of 20...                      69.625439
CO2 emissions, total (KtCO2)                                            77.701912
Cereal yield (kg per hectare)                                           73.136949
Child malnutrition, underweight (% of under age 5)                      10.222396
Disaster risk reduction progress score (1-5 sca...                       1.638705
Droughts, floods, extreme temps (% pop. avg. 19...                       3.277409
Ease of doing business (ranking 1-183; 1=best)                          10.651580
Energy use per capita (kilograms of oil equival...                      61.841592
Energy use per units of GDP (kg oil eq./$1,000 ...                      59.383535
Foreign direct investment, net inflows (% of GDP)                       78.326180
GDP ($)                                                                 84.802965
GHG net emissions/removals by LUCF (MtCO2e)                             18.396410
GNI per capita (Atlas $)                                                80.238002
Hosted Clean Development Mechanism (CDM) projects                        1.814280
Hosted Joint Implementation (JI) projects                                0.331643
Invest. in energy w/ private participation ($)                          16.679672
Invest. in telecoms w/ private participation ($)                        37.553648
Invest. in transport w/ private participation ($)                       10.651580
Invest. in water/sanit. w/ private participatio...                       6.320718
Issued Certified Emission Reductions (CERs) fro...                       1.814280
Issued Emission Reduction Units (ERUs) from JI ...                       0.331643
Land area below 5m (% of land area)                                      8.856808
Latest UNFCCC national communication                                     3.511510
Malaria incidence rate (per 100,000 people)                              2.145923
Methane (CH4) emissions, total (KtCO2e)                                 11.705033
NAMA submission                                                          0.936403
NAPA submission                                                          0.897386
Nationally terrestrial protected areas (% of to...                      85.836910
Nitrous oxide (N2O) emissions, total (KtCO2e)                           11.705033
Nurses and midwives (per 1,000 people)                                   7.335154
Other GHG emissions, total (KtCO2e)                                     11.392899
Paved roads (% of total roads)                                          39.738588
Physicians (per 1,000 people)                                           32.247366
Population                                                              95.083886
Population below 5m (% of total)                                         8.856808
Population growth (annual %)                                            94.984326
Population in urban agglomerations >1million (%)                        49.629341
Population living below $1.25 a day (% of total)                        11.080765
Primary completion rate, total (% of relevant a...                      45.532579
Projected annual precipitation change (2045-206...                       4.174795
Projected annual temperature change (2045-2065,...                       4.174795
Projected change in annual cool days/cold nights                         4.174795
Projected change in annual hot days/warm nights                          4.174795
Public sector mgmt & institutions avg. (1-6 sca...                       8.934842
Ratio of girls to boys in primary & secondary s...                      52.145923
Renewable energy target                                                  1.541163
Under-five mortality rate (per 1,000)                                   86.031994
Urban population                                                        90.889583
Urban population growth (annual %)                                      90.830721

data for some of the series is extremely scarce. This maybe because some data are only collected during x years/ after year x. Hence, some series likely would not be reliable enough to draw insights from.

### Question
how responsible are these countries in mitigating climate change

### Problem Statement
Measuring a country's resilience against climate change alongside their capability and commitment to mitigating it 

#### Series requried to tackle problem statement
Resilience:
- Exposure to climate Risk
    - Land Area Below 5m
    - Population Below 5m
    - Droughts, Floods, Extreme Temperatures (% of Population Affected, Avg. 1990-2009)
- Resource and Infrastructure resilience
    - Agricultural Land Under Irrigation (% of Total Agricultural Land)
    - Annual Freshwater Withdrawals (% of Internal Resources)
    - Energy Use per Capita (Kilograms of Oil Equivalent)
- Natural resources and environmental protection
    - Nationally Terrestrial Protected Areas (% of Total Land Area)
    - Forest Area (% of Total Land Area)

Capability and Commitment:
- GDP
- GNI
- CO2 emissions per capita (metric tons)
- CO2 emissions per unit of GDP (kg/$1,000 of 2005 PPP $)
- Renewable energy target
- Invest. in energy with private participation ($) - indicates financial commitment
- Hosted Clean Development Mechanism (CDM) projects
- Issued Certified Emission Reductions (CERs) from CDM (thousands) - reflects carbon offset participation
- Public sector management & institutions avg. (1-6 scale; 6=best) - reflects governance quality, affecting implementation efficiency
- Disaster risk reduction progress score (1-5 scale; 5=best) - overlaps with resilience, showing preparedness for climate impacts
- Latest UNFCCC national communication - shows active participation in climate dialogue
- Annex-I emissions reduction target
- NAMA (Nationally Appropriate Mitigation Actions) submission
- NAPA (National Adaptation Program of Action) submission

In [19]:
unique_series_names = data_df['Series name'].unique()

unique_series_names

array(['Land area below 5m (% of land area)',
       'Agricultural land under irrigation (% of total ag. land)',
       'Cereal yield (kg per hectare)',
       'Foreign direct investment, net inflows (% of GDP)',
       'Access to electricity (% of total population)',
       'Energy use per units of GDP (kg oil eq./$1,000 of 2005 PPP $)',
       'Energy use per capita (kilograms of oil equivalent)',
       'CO2 emissions, total (KtCO2)',
       'CO2 emissions per capita (metric tons)',
       'CO2 emissions per units of GDP (kg/$1,000 of 2005 PPP $)',
       'Other GHG emissions, total (KtCO2e)',
       'Methane (CH4) emissions, total (KtCO2e)',
       'Nitrous oxide (N2O) emissions, total (KtCO2e)',
       'Annex-I emissions reduction target',
       'Disaster risk reduction progress score (1-5 scale; 5=best)',
       'GHG net emissions/removals by LUCF (MtCO2e)',
       'Hosted Clean Development Mechanism (CDM) projects',
       'Hosted Joint Implementation (JI) projects',
       'Average annual precipitation (1961-1990, mm)',
       'Issued Certified Emission Reductions (CERs) from CDM (thousands)',
       'Issued Emission Reduction Units (ERUs) from JI (thousands)',
       'Droughts, floods, extreme temps (% pop. avg. 1990-2009)',
       'Average daily min/max temperature (1961-1990, Celsius)',
       'NAMA submission', 'NAPA submission',
       'Latest UNFCCC national communication',
       'Projected annual temperature change (2045-2065, Celsius)',
       'Projected change in annual cool days/cold nights',
       'Projected change in annual hot days/warm nights',
       'Projected annual precipitation change (2045-2065, mm)',
       'Renewable energy target', 'Population below 5m (% of total)',
       'Population in urban agglomerations >1million (%)',
       'Annual freshwater withdrawals (% of internal resources)',
       'Nationally terrestrial protected areas (% of total land area)',
       'Ease of doing business (ranking 1-183; 1=best)',
       'Invest. in energy w/ private participation ($)',
       'Invest. in telecoms w/ private participation ($)',
       'Invest. in transport w/ private participation ($)',
       'Invest. in water/sanit. w/ private participation ($)',
       'Public sector mgmt & institutions avg. (1-6 scale; 6=best)',
       'Paved roads (% of total roads)', 'GDP ($)',
       'GNI per capita (Atlas $)',
       'Ratio of girls to boys in primary & secondary school (%)',
       'Primary completion rate, total (% of relevant age group)',
       'Under-five mortality rate (per 1,000)',
       'Access to improved water source (% of total pop.)',
       'Nurses and midwives (per 1,000 people)',
       'Physicians (per 1,000 people)',
       'Malaria incidence rate (per 100,000 people)',
       'Access to improved sanitation (% of total pop.)',
       'Child malnutrition, underweight (% of under age 5)',
       'Population living below $1.25 a day (% of total)',
       'Population growth (annual %)', 'Population',
       'Urban population growth (annual %)', 'Urban population'],
      dtype=object)

In [20]:
# extract relevant columns from the data_df
# Resilience

resilience_columns = [
    'Land area below 5m (% of land area)',
    'Population below 5m (% of total)',
    'Droughts, floods, extreme temps (% pop. avg. 1990-2009)',
    'Agricultural land under irrigation (% of total ag. land)',
    'Annual freshwater withdrawals (% of internal resources)',
    'Energy use per capita (kilograms of oil equivalent)',
    'Nationally terrestrial protected areas (% of total land area)',
    'Forest Area (% of total land area)'  
]

# Capability & Commitment
capability_columns = [
    'GDP ($)',
    'GNI per capita (Atlas $)',
    'CO2 emissions per capita (metric tons)',
    'CO2 emissions per units of GDP (kg/$1,000 of 2005 PPP $)',
    'Renewable energy target',
    'Invest. in energy w/ private participation ($)',
    'Hosted Clean Development Mechanism (CDM) projects',
    'Issued Certified Emission Reductions (CERs) from CDM (thousands)',
    'Public sector mgmt & institutions avg. (1-6 scale; 6=best)',
    'Disaster risk reduction progress score (1-5 scale; 5=best)',
    'Latest UNFCCC national communication',
    'Annex-I emissions reduction target',
    'NAMA submission',
    'NAPA submission'
]

# Extract Resilience data using updated column names
resilience_df = data_df[data_df['Series name'].isin(resilience_columns)]

# Extract Capability & Commitment data using updated column names
capability_df = data_df[data_df['Series name'].isin(capability_columns)]

In [21]:
resilience_df.head(), capability_df.head()

(  Country code Country name     Series code  \
 0          ABW        Aruba  AG.LND.EL5M.ZS
 1          ADO      Andorra  AG.LND.EL5M.ZS
 2          AFG  Afghanistan  AG.LND.EL5M.ZS
 3          AGO       Angola  AG.LND.EL5M.ZS
 4          ALB      Albania  AG.LND.EL5M.ZS

                            Series name SCALE Decimals      1990  1991  1992  \
 0  Land area below 5m (% of land area)     0        1  29.57481  <NA>  <NA>
 1  Land area below 5m (% of land area)     0        1         0  <NA>  <NA>
 2  Land area below 5m (% of land area)     0        1         0  <NA>  <NA>
 3  Land area below 5m (% of land area)     0        1  0.208235  <NA>  <NA>
 4  Land area below 5m (% of land area)     0        1  4.967875  <NA>  <NA>

    1993  ...  2002  2003  2004  2005  2006  2007  2008  2009  2010  2011
 0  <NA>  ...  <NA>  <NA>  <NA>  <NA>  <NA>  <NA>  <NA>  <NA>  <NA>  <NA>
 1  <NA>  ...  <NA>  <NA>  <NA>  <NA>  <NA>  <NA>  <NA>  <NA>  <NA>  <NA>
 2  <NA>  ...  <NA>  <NA>  <NA>  <NA>  <NA>  <NA>  <NA>  <NA>  <NA>  <NA>
 3  <NA>  ...  <NA>  <NA>  <NA>  <NA>  <NA>  <NA>  <NA>  <NA>  <NA>  <NA>
 4  <NA>  ...  <NA>  <NA>  <NA>  <NA>  <NA>  <NA>  <NA>  <NA>  <NA>  <NA>

 [5 rows x 28 columns],
      Country code Country name     Series code  \
 1864          ABW        Aruba  EN.ATM.CO2E.PC
 1865          ADO      Andorra  EN.ATM.CO2E.PC
 1866          AFG  Afghanistan  EN.ATM.CO2E.PC
 1867          AGO       Angola  EN.ATM.CO2E.PC
 1868          ALB      Albania  EN.ATM.CO2E.PC

                                  Series name SCALE Decimals       1990  \
 1864  CO2 emissions per capita (metric tons)     0        1  29.620641
 1865  CO2 emissions per capita (metric tons)     0        1       <NA>
 1866  CO2 emissions per capita (metric tons)     0        1   0.140715
 1867  CO2 emissions per capita (metric tons)     0        1   0.428613
 1868  CO2 emissions per capita (metric tons)     0        1    2.27635

            1991       1992       1993  ...       2002       2003       2004  \
 1864  29.838835  25.239288  24.405233  ...  23.840384  23.279535  22.806292
 1865       <NA>       <NA>       <NA>  ...   7.701215   7.414955   7.500372
 1866   0.126777   0.070145   0.065403  ...   0.013084   0.020635   0.024221
 1867   0.409949   0.401597   0.510141  ...   0.850599   0.587864   1.177717
 1868   1.206479    0.73071     0.7266  ...   1.214113   1.381012   1.281453

            2005       2006       2007       2008  2009  2010  2011
 1864  22.511189  22.135312  22.622989  21.683831  <NA>  <NA>  <NA>
 1865   7.391626   6.840561   6.623037   6.527835  <NA>  <NA>  <NA>
 1866   0.023421   0.022657   0.022613   0.025035  <NA>  <NA>  <NA>
 1867   1.161767   1.308968   1.435174   1.351088  <NA>  <NA>  <NA>
 1868   1.464792   1.340591   1.413737   1.312855  <NA>  <NA>  <NA>

 [5 rows x 28 columns])

In [22]:
print("Resilience")
resilience_df.info()

Resilience
<class 'pandas.core.frame.DataFrame'>
Index: 1631 entries, 0 to 8154
Data columns (total 28 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country code  1631 non-null   object
 1   Country name  1631 non-null   object
 2   Series code   1631 non-null   object
 3   Series name   1631 non-null   object
 4   SCALE         1631 non-null   object
 5   Decimals      1631 non-null   object
 6   1990          873 non-null    object
 7   1991          374 non-null    object
 8   1992          381 non-null    object
 9   1993          372 non-null    object
 10  1994          379 non-null    object
 11  1995          390 non-null    object
 12  1996          372 non-null    object
 13  1997          377 non-null    object
 14  1998          369 non-null    object
 15  1999          370 non-null    object
 16  2000          938 non-null    object
 17  2001          406 non-null    object
 18  2002          426 non-null    object
 19  2003          430 non-null    object
 20  2004          454 non-null    object
 21  2005          477 non-null    object
 22  2006          463 non-null    object
 23  2007          487 non-null    object
 24  2008          417 non-null    object
 25  2009          578 non-null    object
 26  2010          36 non-null     object
 27  2011          0 non-null      object
dtypes: object(28)
memory usage: 369.5+ KB

In [23]:
print ("Capability & Commitment")
capability_df.info()

Capability & Commitment
<class 'pandas.core.frame.DataFrame'>
Index: 3262 entries, 1864 to 10251
Data columns (total 28 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country code  3262 non-null   object
 1   Country name  3262 non-null   object
 2   Series code   3262 non-null   object
 3   Series name   3262 non-null   object
 4   SCALE         3262 non-null   object
 5   Decimals      3262 non-null   object
 6   1990          721 non-null    object
 7   1991          723 non-null    object
 8   1992          795 non-null    object
 9   1993          806 non-null    object
 10  1994          826 non-null    object
 11  1995          840 non-null    object
 12  1996          838 non-null    object
 13  1997          849 non-null    object
 14  1998          858 non-null    object
 15  1999          863 non-null    object
 16  2000          863 non-null    object
 17  2001          869 non-null    object
 18  2002          871 non-null    object
 19  2003          875 non-null    object
 20  2004          871 non-null    object
 21  2005          964 non-null    object
 22  2006          965 non-null    object
 23  2007          962 non-null    object
 24  2008          949 non-null    object
 25  2009          533 non-null    object
 26  2010          481 non-null    object
 27  2011          665 non-null    object
dtypes: object(28)
memory usage: 739.0+ KB

Given that the problem statement does not require analytics of trends over time, using the lastest data point will suffice. To ensure that data is relevant, only data after 2005 is used. If not available, a model is used to predict the datapoint for 2010.

In [32]:

def check_data_post_2005(df):
    # Select only columns that represent years (integers and greater than or equal to 2005)
    post_2005_columns = [col for col in df.columns if isinstance(col, int) and col >= 2005]
    
    # List to store series without data post-2005
    no_post_2005_data = []
    
    for column in df.columns:
        # Skip columns that are not part of the years
        if column not in post_2005_columns:
            continue
        
        # Check if there's any non-null data for the series in post-2005 columns
        if df[post_2005_columns][column].notna().sum() == 0:
            no_post_2005_data.append(column)
    
    return no_post_2005_data

In [33]:
# Run the check on both resilience and capability dataframes
resilience_no_post_2005 = check_data_post_2005(resilience_df)
capability_no_post_2005 = check_data_post_2005(capability_df)

# Display the results
print("Resilience series without data post-2005:", resilience_no_post_2005)
print("Capability series without data post-2005:", capability_no_post_2005)

Resilience series without data post-2005: [2011]
Capability series without data post-2005: []

In [25]:
# Function to retain only values from 2005 onward, marking older values as NaN
def filter_post_2005(df):
    # Assume year columns are named as integers (e.g., 2000, 2005)
    year_columns = [col for col in df.columns if isinstance(col, int) and col >= 2005]
    
    # Create a DataFrame with only years from 2005 onward
    post_2005_df = df[year_columns].copy()
    
    # For each column (series), get the latest available value from 2005 onward
    latest_post_2005 = post_2005_df.apply(lambda row: row.dropna().iloc[-1] if row.dropna().any() else None, axis=1)
    return latest_post_2005

In [26]:

# Apply this function to both resilience and capability dataframes
latest_resilience_post_2005 = filter_post_2005(resilience_df)

In [27]:
latest_resilience_post_2005

0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
          ...
8150     0.520661
8151     6.859541
8152     9.986567
8153    35.983021
8154    28.007730
Length: 1631, dtype: float64